/* ! General ============================================================================= */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

main {
  background-color: #040619;
  color: white;
}

/** :::::::::: Titles :::::::::: **/

.col-6 img {
  object-fit: cover;
  object-position: top;
  width: 380px;
  height: 200px;
}

.main-section-titles {
  font-size: 2.25rem;
  padding-top: 45px;
}

.main-section-titles-aboutmyself {
  font-size: 2.25rem;
}

.lil-title-about-me {
  font-size: 1rem;
  font-weight: bold;
  color: #6428E3;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}


/** :::::::::: Separate Lines :::::::::: **/


.separate-lines {
  border: #313361 1px solid;
  margin: 0;
  padding: 0;
}

.separating-lines-padding-bottom {
  padding-bottom: 45px;
}

/* ! Header ============================================================================= */



/** :::::::::: 100vh Image :::::::::: **/


.bg-wrapper {
  position: relative;
}

.bg-img-100vh {
  width: 100%;
  max-height: 100vh;
  display: block;
}

.black-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}


/** :::::::::: Breadcrumbs Menu :::::::::: **/

.breadcrumbs {
  display: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked+.toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked+.toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}


/** :::::::::: 100vh Middle Text :::::::::: **/


.main-text-100vh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/** :::::::::: Navbar Items :::::::::: **/

.ul_list_navbar.active .hover_text_ul_list_navbar,
.ul_list_navbar.active .actual-text {
  color: rgba(127, 0, 255);
  -webkit-text-stroke: 1px rgba(127, 0, 255);
}



#myName {
  color: white;
  cursor: pointer;
}

.ul_list_navbar {
  background: transparent;
  border: none;
  cursor: pointer;
}

.ul_list_navbar {
  --animation-color: rgba(127, 0, 255);
  letter-spacing: 2px;
  font-size: 18px;
  position: relative;
  color: white;
}

.hover_text_ul_list_navbar {
  position: absolute;
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.ul_list_navbar:hover .hover_text_ul_list_navbar {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

#mainNav {
  transition: all 0.5s ease;
  padding-top: 25px;
}

#mainNav.navbar-scrolled {
  background-color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  padding-top: 15px;
  padding-bottom: 15px;
}


/* ! Section 1 - About my self ============================================================================= **/


/** :::::::::: Left Side - My info :::::::::: **/


.my-info-span {
  position: absolute;
  left: 30%;
}

.about-us-content {
  padding: 20px;
  border-radius: 0.5rem;
}


/** :::::::::: Right Side - Image :::::::::: **/


.about-me-img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 617px;
  height: 390px;
  object-fit: cover;
}


/** :::::::::: Boxes Colors :::::::::: **/


.about-myself-section-light-grey {
  background: #131426;
  color: rgb(255, 255, 255);
  counter-reset: none;
}

[data-aos] {
  opacity: 1 !important;
  transform: none !important;
}


/*! Section 2 - Services & Expertise ============================================================================= **/

.row {
  display: flex;
  flex-wrap: wrap;
}

.row>[class*='col-'] {
  display: flex;
}

/** :::::::::: Cards Style :::::::::: **/


.cardy {
  padding: 25px;
  transition: 0.4s;
  border-radius: 5px;
  position: relative;
  background-color: #131426;
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cards-container {
  margin-left: 0 !important;
}

/* .services-cardy {
  min-width: 500px;
  background-color: #25D366;
} */

.cardy:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(127, 0, 255, 0.1);
}

.card-titles {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
}

.card-bodies {
  font-size: 15px;
}

.bg-icons {
  position: absolute;
  bottom: 8%;
  right: 8%;
  font-size: 80px;
  color: rgba(127, 0, 255, 0.2);
}

.services-icons {
  color: rgba(127, 0, 255, 1);
}



/*! Section 3 - Portfolio ============================================================================= **/


/** :::::::::: General :::::::::: **/


.cursor-pointer-portfolio {
  cursor: pointer;
}

/** :::::::::: Cards Style :::::::::: **/


#portfolio .cardy {
  cursor: pointer;
}


/** :::::::::: Modals :::::::::: **/


.portfolio-popups {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#first-project-popup {
  overflow: hidden;
}

.modal-content {
  background-color: #131426 !important;
  color: white !important;
  min-width: 240%;
}

.main-modal-div {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.portfolio-img {
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.modal-image-hovers:hover {
  transform: scale(3);
  transition: transform 0.5s ease-in-out;
}

.project-details-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.project-details-min-titles {
  font-size: 1.2rem;
  font-weight: 600;
  color: #6428E3;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.modal-body {
  max-height: 50vh;
  overflow-y: auto;
}

.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 60px);
  margin-top: 30px;
  margin-bottom: 30px;
}

.modals-content-images {
  height: 100% !important;
  max-height: 300px;
  width: 100%;
  object-fit: cover !important;
  border-radius: 5px;
}

.btn-close-modal {
  filter: invert(1);
}



/*! Back to top button ============================================================================= **/



.button-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 4px rgba(180, 160, 255, 0.25);
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.button-back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.svgIcon {
  width: 12px;
  transition: all 0.3s ease;
}

.svgIcon path {
  fill: white;
}

.button-back-to-top::before {
  position: absolute;
  right: -20px;
  content: "Back to Top";
  color: white;
  font-size: 0;
  transition: all 0.3s ease;
}

.button-back-to-top:hover {
  width: 140px;
  border-radius: 50px;
  background-color: rgb(181, 160, 255);
}

.button-back-to-top:hover .svgIcon {
  transform: translateY(-200%);
}

.button-back-to-top:hover::before {
  font-size: 13px;
  opacity: 1;
  right: unset;
  left: 40px;
}

.this-is-for-test {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! Footer ============================================================================= **/

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 15px 10px;
  border-radius: 5em;
  margin-bottom: 35px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

.whatsapp {
  background-color: #25D366;
}

.whatsapp svg path {
  fill: #f2f2f2;
}

.whatsapp:hover svg path {
  fill: #25D366;
}

.upwork {
  background-color: #6fda44;
  /* Upwork green */
}

.upwork svg path {
  fill: #ffffff;
  /* white icon */
}

.upwork:hover svg path {
  fill: #6fda44;
  /* green on hover */
}

.gmail {
  background-color: #D14836;
}

.gmail svg path {
  fill: #f2f2f2;
}

.gmail:hover svg path {
  fill: #D14836;
}



#footer_hr {
  width: 50px;
  height: 6px;
  background-color: rgb(0, 140, 255);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

#footer_hr:hover {
  width: 80px;
}

.footer_info p {
  margin-bottom: 5px;
}

.contact_us_icons {
  list-style: none;
  padding: 0;
}




/*! contact box ============================================================================= **/



.contact-form {
  width: 40%;
  padding: 25px;
  margin-bottom: 40px;
  background-color: #131426;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 5px;
}

.contact-form .input-box {
  position: relative;
}

.contact-form .input-box input {
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.contact-form .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.contact-form .input-box input:focus~label,
.contact-form .input-box input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.contact-form form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.contact-form form a:hover {
  background: #6428E3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #6428E3,
    0 0 25px #6428E3,
    0 0 50px #6428E3,
    0 0 100px #6428E3;
}

.contact_form_area {
  width: 50%;
  display: flex;
  justify-self: center;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #6428E3);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.submit-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #6428E3);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.submit-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #6428E3);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.submit-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #6428E3);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}


.submit-button a {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.submit-button span {
  position: absolute;
  display: block;
}


/*! Media Quieries ============================================================================= **/




@media screen and (max-width: 1200px) {
  .modal-content {
    min-width: 100%;
  }

  .modals-content-images {
    height: 100% !important;
    max-height: 300px;
    width: 100%;
    object-fit: cover !important;
    border-radius: 5px;
  }

  .modal-body .row .col-6 {
    width: 100%;
    padding: 0 !important;
    margin-bottom: 20px;
  }

  .my-info-span {
    position: absolute;
    left: 25%;
  }
}

@media screen and (max-width: 991px) {
  #about .row {
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .row .col-3 {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
  }

  .row .col-3 .cardy {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .my-info-span {
    position: absolute;
    left: 40%;
  }

  .about-me-img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 390px;
  }

  /* .services-cardy {
    margin-bottom: 20px;
  } */
}

@media screen and (max-width: 767px) {

  .main-section-titles,
  .main-section-titles-aboutmyself {
    font-size: 1.75rem;
  }

  .row .col-3 {
    width: 100%;
    display: flex;
  }

  .social-buttons {
    flex-wrap: wrap;
    gap: 10px;
  }

  .portfolio-img {
    height: 200px;
  }

  .bg-img-100vh {
    height: 100vh;
    object-fit: cover;
  }

  .breadcrumbs {
    display: block;
  }

  .main-text-100vh {
    width: 700px;
    height: auto;
  }

  .contact_form_area {
    width: 80%;
  }

  .row.cards-container .media-queries-paddings {
    padding: 0px !important;
  }

  #about .row {
    flex-direction: column;
  }

  .my-info-span {
    position: absolute;
    left: 40%;
  }

  .about-me-img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 390px;
  }

}

@media screen and (max-width: 576px) {
  .main-text-100vh {
    width: 550px;
    height: auto;
  }

  .navbar-nav {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
  }

  .breadcrumbs {
    display: block;
  }

  .portfolio-img {
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .modal-body .row {
    margin-bottom: 0 !important;
  }

  h2 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  /* .card-titles {
    font-size: 1.25rem;
  } */
  p {
    font-size: 0.95rem;
  }

}